input[type="text"]{
	width: 100%;
	background-color: transparent;
	color: #fff;
}

#rawdata_hex {
	width: 100%;
	margin-bottom: 20px;
}

div#filter_div {
	margin-top: 10px;
}

#detail_info{
	margin-top: 20px;
}
.table-responsive {
	margin-top: 15px;
	background-color: #5e5e5e;
	color: #ffffff;
	overflow: visible;
}

div.div_table_body {
	max-height: 587px;
	min-height: 587px;
}
.table-responsive > table.table_body{
	margin-top: -40px;
}

.table-responsive > table{
	margin-bottom: 0px;
}

.table-responsive tbody tr:nth-of-type(2n+1) {
	color: #333333;
}

.table-responsive th, td {
	text-align: center;
}

.table-hover > tbody > tr:hover > td{
	background-color: #408080;
} 

.table-responsive tr.warning {
	color: #333333;
}


